@import '../../fonts/font-face.css';
@import '../../../node_modules/bootstrap-4-grid/css/grid.css';

body {
    font-family: 'DIN Pro';
}

.widget-header {
    margin: 40px 0; 
}

.widget-wrapper {
    width: 33vw;
}

select {
    border-radius: 0;
    border: 0;
    background-color: #fff;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: url('../../img/arrow-point-to-right.svg') no-repeat right;
    background-size: 13%;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Museo Sans Cyrl 500';
    width: 105px;
    height: 20px;
    background-position-y: 8px;
}

.company {
    height: 70px;
    width: 170px;  
    border-radius: 2px;
    border: solid 2px #ebedf0;
    margin: 10px 15px;
}

.account {
    height: 40px;
    width: 170px;
    border-radius: 2px;
    border: solid 2px #ebedf0;
    background-color: #f5f6f7;
    margin: 10px 15px;
}

.company-block {
    padding: 0 15px;
}

.left-block {
    width: 100px;
    height: 166px;
    border-radius: 2px;
    border: solid 2px #ebedf0;
    margin-left: 90px;
    margin-top: 15px;

}

.right-block {
    width: 100px;
    height: 106px;
    border-radius: 2px;
    border: solid 2px #ebedf0;
    margin-right: 90px;
    margin-top: 15px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:74px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:74px;
}