@import '../../fonts/font-face.css';

td {
    text-align: center;
    /* padding: 5px 10px; */
    font-family: 'DIN Pro';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #363940;
    height: 28px;
    margin: 2px;
}

.bold-row > td {
    font-weight: bold;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #0c0c0d;
}

.bid-line {
    border-bottom: 1px solid #e94241;
    position: absolute;
    right: 0;
    margin-right: 1px;
}

.ask-line {
    border-bottom: 1px solid #1ebb84;
    position: absolute;
    left: 0;
    margin-left: 1px;
}

table {
    border-collapse: collapse;
}

.volume {
    width: 80px;
}

.price {
    width: 105px;
}